STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
GOOGLE_CALENDAR_ID=replace_me@group.calendar.google.com
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace_me\n-----END PRIVATE KEY-----"
BOOKING_NOTIFICATION_WEBHOOK_URL=
BOOKING_CONFIRMATION_WEBHOOK_URL=
